<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h1>Menu</h1>
      <hr>
    </div>
  </div>
  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let thing of things">
        <img height="200px" matListAvatar src={{thing.image}} alt={{thing.name}}>
        <mat-grid-tile-footer>
          <h1 matLine> {{thing.name | uppercase}} </h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
 <app-dishdetail></app-dishdetail>
</div>